@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- VERA PREMIUM RENK PALETİ --- */
    --background: 0 0% 100%;
    --foreground: 210 24% 16%;
    --card: 0 0% 100%;
    --card-foreground: 210 24% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 24% 16%;
    --primary: 357 68% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 356 54% 90%;
    --secondary-foreground: 357 68% 33%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 356 54% 90%;
    --accent-foreground: 357 68% 33%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 357 68% 33%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
